.team {

  padding: 56px 0;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/public/images/progect/t');
  // background-color: #f4f4f4;
  // background-attachment: fixed;
  // background-size: 100% 100%;


  h1, .lead {
    color: #34495e;
  }

  #owl-demo .item3 img{
    display: block;
    width: 100%;
    height: auto;
    color: #333;
  }

  .owl-controls {
    margin-top: 20px;
  }

  .item3 img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px solid #000;
  }

  .overlay-content2 {
    h3, p, a {
      padding: 0;
      margin: 0;
      color: #333;
      margin-top: 10px;
    }


    h3.name {
      font-weight: bold;
      color: $primary-Color;
    }
    .position {
      font-weight: normal;
      color: $secondary-Sky-Blue-Color;
    }
    .description {
      font-weight: normal;
      font-size: 65%;
      padding: 0 15px;
      text-align: center;
    }

    li {
      display: inline-block;

      .fa {
        width: 38px;
        height: 38px;
        line-height: 38px;
        // border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        margin-top: 15px;
        font-weight: 300;
      }

      .fa-facebook {background-color: #3b5998;}
      .fa-twitter {background-color: #00aced;}
      .fa-linkedin {background-color: #007bb6;}

      .fa-facebook:hover {background-color: #4c70ba;}
      .fa-twitter:hover {background-color: #21c2ff;}
      .fa-linkedin:hover {background-color: #0091de;}


    }

    p, a {
      font-size: 85%;
      font-weight: bold;
      color: #333;
      margin: 0;

      a { color: $secondary-Sky-Blue-Color}
    }

    .owl-content {
      color: white;
      position: absolute;
      top: 0;
      left: 30px;
    }

  }


}
