/* ------------------------------------------------ */
// FEATURES SECTION
/* ------------------------------------------------ */
.section-cities {

  .col-content {

    img {
      width: 100%;
      height: auto;
      margin-bottom: 15px;
      border-radius: 5px 5px 0 0;
    }

    .city-features {
      margin-bottom: 5px;
    }
  }

}
