.services {
  // h1 {color: #34495e;}

  // background: url('../../images/progect/testimonial-bg.png');
  padding: 56px 0;

  .services-header {
    margin-bottom: 40px;
  }

  // h3 {
  //   font-weight: 700;
  //   font-size: 90%;
  //   // color: blue;
  // }

  .box {
    margin-bottom: 30px;
  }

  .box p {
    padding: 0 0px;
    font-size: 80%;
  }


  .box .fa {
    font-size: 32px;
    color: #34495e;
  }


}
