/* ------------------------------------------------ */
// MEALS SECTION
/* ------------------------------------------------ */
.section-meals {
  padding: 0;


  h2::after {
    content: " ";
    display: block;
    height: 2px;
    background-color: transparent;
    // width: 100px;
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
  }


  .meals-showcase {
    list-style: none;
    width: 100%;

    li {
      display: block;
      width: 25%;
      float: left;

      .meal-photo {
        width: 100%;
        margin: 0;
        overflow: hidden;
        background-color: #000;

        a:link,
        a:visited {
          text-decoration: none;

          img {
            opacity: 0.7;
            width: 100%;
            height: auto;
            transform: scale(1.15);
            transition: transform 0.5s ease-in, opacity 0.5s ease-in;
          }

          img:hover {
            transform: scale(1.04);
            opacity: 1;
            text-decoration: none;
          }
        }
        a:hover,
        a:active {
          text-decoration: none;
        }

      }
    }
  }
}
