.testimonials {

  padding: 56px 0;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('/public/images/progect/testimonial-bg.png');

  background-image: url('/public/images/progect/testimonial-bg.png');

  // background-color: #e9a02e;
  background-attachment: fixed;
  background-size: 100% 100%;



  h1, .lead {
    color: $h1-Portfolio;
  }


  .overlay-content4{
    color: #fff;

    p { margin: 0; padding: 0;}
    p.name {
      font-weight: 500;
      margin-top: 15px;
      font-size: 150%;
    }

    p.position {
      color: $secondary-Sky-Blue-Color;
      font-weight: bold;
      margin-bottom: 15px;
    }

    li {
      list-style: none;
      margin-bottom: 20px;
    }

    li img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 2px solid #fff;
    }


    .owl-content {
      color: white;
      position: absolute;
      top: 0;
      left: 30px;
    }

    .owl-page span {
      background-color: #2d82d8;
    }

    blockquote {
      display: inline-block;
      color: #fff;
      border: none;
      width: 70%;
      margin: 0 auto;
      padding: 0;
      line-height: 1.5em;
      font-style: italic;
      position: relative;
    }

    blockquote:before {
      position: absolute;
      content: "\f10d";
      top: -10px;
      left: -20px;
      font-family: fontawesome;
    }

    blockquote:after {
      position: absolute;
      content: "\f10e";
      bottom: -10px;
      right: -20px;
      font-family: fontawesome;
    }

  }


}
