/* ----------------------------------------- */
/* GLOBAL SETTINGS */
/* ----------------------------------------- */

/* -- Global Reset -- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -- Clear Floats -- */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* -- Old Clear Floats Techniques -- */
// .clearfix:after {
//   visibility: hidden;
//   display: block;
//   font-size: 0;
//   content: " ";
//   clear: both;
//   height: 0;
// }
// .clearfix { display: inline-block; }
// /* start commented backslash hack \*/
// * html .clearfix { height: 1%; }
// .clearfix { display: block; }
// /* close commented backslash hack */


/* -- Global Settings -- */
html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}
