
$h1Color: #555;
$h1-Portfolio: #fff;
$h1-team: #fff;
$h2Color: #555;
$h3Color: #333;


$primary-Color: #e74c3c;
$primary-BG-Color: #e74c3c;


$secondary-Dark-Blue-Color: #34495e;
$secondary-Dark-Blue-BG-Color: #34495e;

$secondary-Sky-Blue-Color: #2d82d8;
$secondary-Sky-Blue-BG-Color: #2d82d8;

$header-Font-Color: #fff;
$header-Link-Color: #fff;



/* -- Colors -- */
.primary {color: $primary-Color;}
.primary-bg {background-color: $primary-BG-Color;}
.secondary-sky-blue {color: $secondary-Sky-Blue-Color;}
.secondary-dark-blue-bg {background-color: $secondary-Dark-Blue-BG-Color;}
