/* ------------------------------------------------ */
// GRID SYSTEM COLUMN STYLES
/* ------------------------------------------------ */
.col-content {
  padding: 1%;

  p {
    font-size: 90%;
    line-height: 145%;
  }
}
