/* ------------------------------------------------ */
// HEADINGS
/* ------------------------------------------------ */
h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 4px;
}
