// LARGE Tablets to 1200px (widths small than the 1140px row)
/* ------------------------------------------------ */
@media only screen and (max-width: 1200px) {

  #hero-text-box {
      width: 100%;
      padding: 0 2%;
  }

  .row { padding: 0 2%; }
}


// SMALL Tablets to LARGE Tablets: 768px - 1023px
/* ------------------------------------------------ */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 16px;

    section {
      padding: 50px 0;

      .lead-text {
        width: 80%;
        margin: 0 10%;
        // text-align: center;
        // margin-bottom: 30px;
      }

    }

    .section-steps {

      #steps-box {margin-top: 10px;}
      #steps-box:last-child {margin-top: 10px;}
      #works-step {margin-bottom: 30px;}
      #works-step:last-of-type {margin-bottom: 50px;}

      #app-screen {width: 45%;}

      .icon-small { width: 15px !important; }
      .cities-features {font-size: 90%;}
    }





  }
}



// SMALL PHONES to SMALL TABLETS: 481px - 767px
/* ------------------------------------------------ */
@media only screen and (max-width: 767px) {

}



// SMALL PHONES: 0 - 480px
/* ------------------------------------------------ */
@media only screen and (max-width: 480px) {

}
